{% extends '@CustomISApp/layout.html.twig' %}

{% block left_navigation %}
{% endblock %}

{% block content %}
    {{ form_start(form, {action: path('login_check')}) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Přihlásit se">
    {{ form_end(form) }}
{% endblock %}
